body{
	margin: 0;
	padding: 0;
}
li[ui-sref]:hover {
  cursor: pointer;
  text-decoration: underline;
  text-decoration-color: black;
}
h1{
	padding-top: 20px;
}
a{
	font-size: 1.5em;
}
.list-categories{
	list-style: none;
	padding-top: 10px;
}
.item-categories:hover,
.item-categories:focus {
  color: #23527c;
  text-decoration: none;
}
.item-short-name{
	padding-top: 15px;
	font-size: 1.3em;
	list-style: none;
}
h3{
	padding-top: 0 !important;
	color: #009688;
}
.item-description{
	padding: 0 25px 15px;
}